.logo{
    color:black;
}

.part{
    color: #2196F3;
}

.link-item{
    color: #2196F3;
}

.link{
    color:black 
}

.site-nav-mail{
    color: #2196F3;
}

.site-nav-tel{
    color: #757575;
}
.section1{
    background-color: #2F303A;
}

.h1{
    color:#FFFFFF;
}

.btn{
    background-color: #2196F3;
    color: #FFFFFF;
}

.footer{
    background: #2F303A;
}

.address-item{
    color: #FFFFFF;
}

.mail{
    color: #757575;
}

.tel{
    color: #757575;
}

.best{
    color: #757575;   
}

.job{
    color: #757575 
}
