
/*основной цвет текста #757575 */
/* втоичный цвет текста #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* фон героя #2F303A */
/* фон футера #2F303A */

:root{
    --primary-text-color:#757575;
    --title-text-color:black;
    --accent-color: #2196F3;
    --part-color:#9b9d9e;
    --logo-color:#FFFFFF;
    --background-color:#2F303A;
    --background-maincolor:#E5E5E5;
    --focus-color:red;
}

.body{
    background-color:var(--background-maincolor) ;
    color:var(--primary-text-color); 
}

.list{
  list-style: none;
}

.logo{
    color:var(--title-text-color);
}

.logo2{
    color: var(--logo-color);
}

.part{
    color:var(--accent-color);
}

.link-item{
    color:var(--accent-color);
}

.link-item2{
    color:var(--title-text-color);  
}

.link{
    color:var(--title-text-color); 
}

.link2{
    color:var(--accent-color);
}

.site-nav-mail{
    color:var(--accent-color);
}

.site-nav-mail2{
    color:var(--primary-text-color);
}

.site-nav-tel{
    color:var(--primary-text-color);
}
.section1{
    background-color:var(--background-color);
}

.h1{
    color:var(--logo-color);
}

.btn{
    background-color:var(--accent-color);
    color:var(--logo-color);
}

.footer{
    background:var(--background-color);
}

.address-item{
    color:var(--logo-color);
}

.mail{
    color:var(--primary-text-color);
}

.tel{
    color:var(--primary-text-color);
}

.best{
    color:var(--primary-text-color);   
}

.job{
    color:var(--primary-text-color); 
}

.link-item:hover,
.link-item:focus{
     color:var(--focus-color);
}

.link:hover,
.link:focus{
    color: var(--focus-color); 
}

.site-nav-mail:hover,
.site-nav-mail:focus{
    color:var(--focus-color); 
}

.site-nav-tel:hover,
.site-nav-tel:focus{
    color:var(--focus-color); 
}

.address-item:hover,
.address-item:focus{
    color:var(--focus-color); 
}

.mail:hover,
.mail:focus{
    color:var(--focus-color); 
}

.tel:hover,
.tel:focus{
    color: var(--focus-color); 
}

.link-item2:hover,
.link-item2:focus{
    color:var(--focus-color);  
}

.link2:hover,
.link2:focus{
    color:var(--focus-color); 
}

.site-nav-mail2:hover,
.site-nav-mail2:focus{
    color:var(--focus-color);
}