.logo{
    color:black;
}

.logo2{
    color: #FFFFFF;
}

.part{
    color: #2196F3;
}

.link-item{
    color: #2196F3;
}

.link-item2{
    color:black  
}

.link{
    color:black 
}

.link2{
    color: #2196F3;
}

.site-nav-mail{
    color: #2196F3;
}

.site-nav-mail2{
    color: #757575;
}

.site-nav-tel{
    color: #757575;
}
.section1{
    background-color: #2F303A;
}

.h1{
    color:#FFFFFF;
}

.btn{
    background-color: #2196F3;
    color: #FFFFFF;
}

.footer{
    background: #2F303A;
}

.address-item{
    color: #FFFFFF;
}

.mail{
    color: #757575;
}

.tel{
    color: #757575;
}

.best{
    color: #757575;   
}

.job{
    color: #757575 
}

.link-item:hover,
.link-item:focus{
     color: red;
}

.link:hover,
.link:focus{
    color: red;  
}

.site-nav-mail:hover,
.site-nav-mail:focus{
    color: red; 
}

.site-nav-tel:hover,
.site-nav-tel:focus{
    color: red; 
}

.address-item:hover,
.address-item:focus{
    color: red; 
}

.mail:hover,
.mail:focus{
    color: red; 
}

.tel:hover,
.tel:focus{
    color: red;  
}

.link-item2:hover,
.link-item2:focus{
    color: red;  
}

.link2:hover,
.link2:focus{
    color: red; 
}

.site-nav-mail2:hover,
.site-nav-mail2:focus{
    color: red;
}